.header {
  @include flex(row, space-between, center);
  width: 1280px;
  margin: 0.5rem auto 0;

  &__logo {
    font-family: $secondary-font;
    font-size: $min-font-size;
    font-weight: 800;
  }

  &__nav {
    display: flex;

    &-list {
      @include flex(row, start, center);

      height: 4.5rem;
      gap: 2.5rem;
      list-style: none;
      font-size: $min-font-size;
      font-weight: 600;
    }
  }

  &__socials {
    display: flex;
    font-size: $max-font-size
    gap: 2rem;
  }
}
