.header {
  @include flex(row, space-between, center);
  top: 0;
  left: 0;

  width: 1280px;
  margin: 8px auto 0;

  &__logo {
    font-family: $secondary-font;
    font-size: 13px;
    font-weight: 800;
  }

  &__nav {
    display: flex;

    &-list {
      @include flex(row, start, center);

      height: 70px;
      gap: 40px;

      list-style: none;
      font-size: 13px;
      font-weight: 600;
    }
  }

  &__socials {
    display: flex;

    font-size: 20px;
    gap: 32px;
  }
}
