//fontes
$primary-font: "Montserrat", sans-serif;
$secondary-font: "Cinzel", serif;

//cores
$background-color: #000;
$primary-color: #e4cb86;
$text-color: #e2e2e2;

//texto
$min-text-size: 13px;
$text-size: 16px;
$max-text-size: 21px;
$title-size: 40px;
$max-title-size: 80px;
