$title-font: 'Ysabeau Office', sans-serif;
$text-font: 'Lato', sans-serif;
$font-size: 16px;
$font-weight: 400;

$background-color: #f8f8f8;
$text-color: #333;
$main-color: #4a90e2;
$hilight-color: #00bfa5;
