//layout
$max-width: calc(100vw - 6px);

//fontes
$primary-font: "Montserrat", sans-serif;
$secondary-font: "Cinzel", serif;

//cores
$background-color: #000;
$primary-color: #e4cb86;
$text-color: #e2e2e2;

//texto
$min-font-size: 13px;
$font-size: 16px;
$max-font-size: 21px;
