.header {
  @include position(absolute, 0, none, none, none);
  z-index: 100;
  width: 100vw;

  &__content {
    @include flex(row, space-between, center);
    max-width: 1240px;
    margin: 0.75rem auto 0;
    padding: 0 20px;

    & > h1 {
      @include font($secondary-font, $max-text-size, 600);

      &:hover {
        @include hoverAnimation($primary-color);
      }
    }

    & > nav {
      ul {
        @include flex(row, start, center);
        @include font(inherit, $min-text-size, 600);

        height: 4.5rem;
        gap: 2.5rem;
        list-style: none;

        & > li {
          text-transform: uppercase;

          &:hover {
            @include hoverAnimation($primary-color);
          }
        }
      }
    }

    &-social {
      display: flex;
      font-size: $max-text-size;
      gap: 2rem;

      & > a {
        &:hover {
          @include hoverAnimation($primary-color);
        }
      }
    }
  }
}
