.header {
  @include flex(row, space-between, center);
  @include position(absolute, 0, none, none, 0);

  width: 1200px;
  margin: 0.5rem calc(($max-width - 1200px) / 2) 0;
  z-index: 100;

  & > h1 {
    @include font($secondary-font, $max-font-size, 600);

    &:hover {
      cursor: pointer;
      color: $primary-color;
      transition: 0.2s;
    }
  }

  & > nav > ul {
    @include flex(row, start, center);
    @include font(inherit, $min-font-size, 600);

    height: 4.5rem;
    gap: 2.5rem;
    list-style: none;

    & > li {
      text-transform: uppercase;

      &:hover {
        cursor: pointer;
        color: $primary-color;
        transition: 0.2s;
      }
    }
  }

  &__social {
    display: flex;
    font-size: $max-font-size;
    gap: 2rem;

    & > a {
      &:hover {
        cursor: pointer;
        color: $primary-color;
        transition: 0.2s;
      }
    }
  }
}
