.homeAbout {
  @include flex(row, space-between, space-between);
  @include width(0, 100%, 1024px);
  margin: 6rem 0 0;

  h3 {
    @include font($secondary-font, $title-size, 400);
    text-transform: capitalize;
  }

  &__skills {
    @include flex(column, start, start);
    @include width(0, 100%, 30rem);
    gap: 1rem;
  }

  &__text {
    @include flex(column, space-between, start);
    @include width(0, 100%, 30rem);
    gap: 1rem;

    & > span {
      margin-top: 1.75rem;
    }
  }
}
