.homeProjects {
  @include flex(column, start, start);
  @include width(0, 100%, 1024px);
  margin: 96px 0 0;
  gap: 16px;

  & > h3 {
    @include font($secondary-font, $title-size, 400);
    text-transform: capitalize;
  }

  &__content {
    @include flex(column, start, start);
    @include width(0, 100%, 1024px);
    gap: 32px;
  }
}
