.homeProjects {
  @include flex(column, start, start);
  @include width(0, 100%, 1024px);
  margin: 96px 0 0;
  gap: 16px;

  & > h2 {
    @include font($secondary-font, $title-size, 400);
    @include width(0, 100%, 480px);
    text-align: start;
    font-size: 32px;
    text-transform: capitalize;
  }

  &__content {
    @include flex(column, start, start);
    @include width(0, 100%, 1024px);
    gap: 32px;
  }
}

@media (max-width: 767px) {
  .homeProjects {
    @include flex(column, start, center);

    & > h3 {
      @include width(0, 100%, 480px);
    }

    &__content {
      @include flex(column, start, start);
      @include width(0, 100%, 480px);
    }
  }
}
