.homeBanner {
  @include flex(column, end, center);
  height: 100vh;
  width: 100%;

  &__title {
    @include flex(column, start, center);
    padding: 0 0 3.25rem;

    h1 {
      @include font($secondary-font, $max-title-size, 400);
      text-transform: capitalize;
      margin-bottom: 1.25rem;
    }

    p {
      @include font(inherit, $min-text-size, 600);
      text-transform: uppercase;
      letter-spacing: 2px;

      &:hover {
        cursor: pointer;
        @include hoverAnimation($primary-color);
      }
    }
  }
}

@media (max-width: 960px) {
  .homeBanner {
    &__title {
      h1 {
        @include font($secondary-font, 70px, 400);
      }
    }
  }
}

@media (max-width: 850px) {
  .homeBanner {
    &__title {
      h1 {
        @include font($secondary-font, 60px, 400);
      }
    }
  }
}

@media (max-width: 730px) {
  .homeBanner {
    &__title {
      h1 {
        @include font($secondary-font, 55px, 400);
      }
    }
  }
}

@media (max-width: 670px) {
  .homeBanner {
    &__title {
      h1 {
        @include font($secondary-font, 50px, 400);
      }
    }
  }
}

@media (max-width: 620px) {
  .homeBanner {
    &__title {
      h1 {
        @include font($secondary-font, 45px, 400);
      }
    }
  }
}

@media (max-width: 560px) {
  .homeBanner {
    &__title {
      h1 {
        @include font($secondary-font, 40px, 400);
      }
    }
  }
}

@media (max-width: 500px) {
  .homeBanner {
    &__title {
      h1 {
        @include font($secondary-font, 35px, 400);
      }
    }
  }
}
