.moreButton {
  @include flex(row, start, start);
  @include font(inherit, $min-text-size, 600);
  padding-bottom: 4px;
  border: none;
  border-bottom: 1px solid $primary-color;
  gap: 16px;
  color: inherit;
  background: inherit;
  letter-spacing: 2px;
  text-transform: uppercase;

  svg {
    height: 16px;
    width: min-content;

    path {
      stroke: $text-color;
    }
  }

  &:hover {
    @include hoverAnimation($primary-color);

    svg {
      path {
        stroke: $primary-color;
      }
    }
  }
}
