.navbar {
  & > ul {
    @include flex(row, start, center);
    @include font(inherit, $min-text-size, 600);
    gap: 40px;
    list-style: none;

    & > li {
      text-transform: uppercase;

      &:hover {
        @include hoverAnimation($primary-color);
      }
    }
  }
}
