.projectItem {
  @include flex(row, start, start);
  @include width(0, 100%, 1200px);
  gap: 1rem;

  img {
    width: 24rem;
    height: 13.5rem;
    background-color: $primary-color;
    color: $background-color;
    border-radius: 0.5rem;
    border: 1px solid $primary-color;
    object-fit: cover;
    object-position: top;
  }

  &__text {
    @include flex(column, space-between, start);
    height: 13.5rem;
    width: 24rem;
    padding-bottom: 1rem;

    h3 {
      @include font($secondary-font, $title-size, 400);
      color: $primary-color;
      text-transform: capitalize;
      margin-bottom: 0.5rem;
    }

    p {
      max-height: 4.75rem;
      overflow: hidden;
    }
  }
}
