.projectItem {
  @include flex(row, start, start);
  width: 100%;
  gap: 16px;

  & > img {
    width: 384px;
    height: 216px;
    background-color: $primary-color;
    color: $background-color;
    border-radius: 8px;
    border: 1px solid $primary-color;
    object-fit: cover;
    object-position: top;
  }

  &__text {
    @include flex(column, space-between, start);
    height: 216px;
    width: 384px;
    padding-bottom: 16px;

    & > div {
      & > h3 {
        @include font($secondary-font, $title-size, 400);
        color: $primary-color;
        text-transform: capitalize;
        margin-bottom: 8px;
      }

      & > p {
        max-height: 76px;
        overflow: hidden;
      }
    }
  }
}

@media (max-width: 767px) {
  .projectItem {
    @include flex(column, start, start);

    & > img {
      width: 100%;
      height: calc(100vw / 16 * 9);
    }

    &__text {
      @include flex(column, start, start);
      width: 100%;
      gap: 16px;
    }
  }
}
