.projectItem {
  @include flex(row, start, start);
  width: 100%;
  gap: 16px;

  &__image {
    @include flex(row, start, start);
    position: relative;
    @include width(440, 100%, 440px);
    @include height(300px, 100%, 300px);

    &-desktop {
      width: 400px;
      height: 225px;
      background-color: $primary-color;
      color: $background-color;
      border-radius: 8px;
      border: 1px solid $primary-color;
      object-fit: cover;
      object-position: top;
    }

    &-mobile {
      @include position(absolute, none, 0, 0, none);
      width: 108px;
      height: 240px;
      background-color: $primary-color;
      color: $background-color;
      border-radius: 8px;
      border: 1px solid $primary-color;
      object-fit: cover;
      object-position: top;
    }
  }

  &__text {
    @include flex(column, space-between, start);
    height: 216px;
    width: 384px;
    padding-bottom: 16px;

    & > div {
      & > h3 {
        @include font($secondary-font, $title-size, 400);
        color: $primary-color;
        font-size: 32px;
        text-transform: capitalize;
        margin-bottom: 8px;
      }

      & > p {
        max-height: 76px;
        overflow: hidden;
      }
    }
  }
}

@media (max-width: 767px) {
  .projectItem {
    @include flex(column, start, center);
    @include width(0, 100%, 480px);

    &__image {
      width: 100%;
      height: 270px;
    }

    &__text {
      @include flex(column, start, start);
      width: 100%;
      gap: 16px;
    }
  }
}
