.about {
  @include flex(column, start, center);
  @include width(0, 100%, 1240px);
  margin: 144px auto 0;
  padding: 0 20px;

  & > h2 {
    @include font($secondary-font, $max-title-size, 400);
    text-transform: capitalize;
  }

  h3 {
    @include font($secondary-font, $title-size, 400);
    text-transform: capitalize;
  }

  &__professional {
    @include flex(row, space-between, start);
    @include width(0, 100%, 1024px);
    margin: 96px 0 0;

    img {
      @include width(0, 100%, 416px);
      @include height(0, 100%, 416px);
      margin: auto 0;
      object-fit: cover;
      object-position: center;
      border-radius: 32px;
    }

    &-text {
      @include flex(column, start, start);
      @include width(0, 100%, 480px);
      gap: 12px;
    }
  }

  &__personal {
    @include flex(column, start, start);
    @include width(0, 100%, 560px);
    margin: 96px 0 0;
    padding: 0 80px 0 0;
    gap: 16px;
  }

  &__skills {
    @include flex(column, start, start);
    margin: 96px 0 0;
    width: 560px;
    gap: 16px;
  }
}
