.about {
  @include flex(column, start, center);
  width: 100vw;
  padding: 9rem 0 0;

  & > h2 {
    @include font($secondary-font, $max-title-size, 400);
    text-transform: capitalize;
  }

  h3 {
    @include font($secondary-font, $title-size, 400);
    text-transform: capitalize;
  }

  &__professional {
    @include flex(row, space-between, start);
    width: 1200px;
    margin: 9rem auto 0;

    img {
      width: 35rem;
      min-height: 419px;
      background-color: $primary-color;
      color: $background-color;
      border-radius: 0.5rem;
    }

    &-text {
      @include flex(column, start, start);
      width: 35rem;
      gap: 0.75rem;
    }
  }

  &__personal {
    @include flex(column, start, start);
    margin: 9rem 0 0;
    width: 40rem;
    padding: 0 5rem 0 0;
    gap: 1rem;
  }

  &__skills {
    @include flex(column, start, start);
    margin: 9rem 0 0;
    width: 40rem;
    gap: 1rem;
  }
}
