.home {
  @include flex(column, start, center);
  height: 100%;
  width: 100vw;

  &__projects {
    @include flex(row, center, start);
    width: 1200px;
    margin: 9rem 0 0;
  }

  &__contact {
    @include flex(row, center, start);
    width: 1200px;
    margin: 9rem 0 0;
  }
}
