.projects {
  @include flex(column, start, center);
  width: $max-width;
  max-width: $max-width;

  padding: 9rem 0 0;

  &__title {
    font-family: $secondary-font;
    font-size: 80px;
    font-weight: 400;
    text-transform: capitalize;
    margin-bottom: 9rem;
  }

  &__content{
    @include flex(column, start, center);
    gap: 4rem;
  }
}
