.projects {
  @include flex(column, start, center);
  width: 100vw;

  padding: 9rem 0 0;

  & > h2 {
    @include font($secondary-font, $max-title-size, 400);
    text-transform: capitalize;
    margin-bottom: 9rem;
  }

  &__content {
    @include flex(column, start, center);
    gap: 4rem;
  }
}
