@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&display=swap");
:root {
  width: 100vw;
  min-width: 100vw;
  font-family: "Montserrat", sans-serif;
  background-color: #000;
  color: #e2e2e2;
}
:root::-webkit-scrollbar {
  width: 6px;
  display: none;
}
:root::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(226, 226, 226, 0.5);
}
:root::-webkit-scrollbar-track {
  background-color: #000;
}

::-moz-selection {
  background-color: #e4cb86;
  color: #000;
}

::selection {
  background-color: #e4cb86;
  color: #000;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  position: absolute;
  top: 0;
  right: none;
  bottom: none;
  left: none;
  z-index: 100;
  height: 78px;
  width: 100vw;
}
.header__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  width: 100%;
  max-width: 1240px;
  height: 100%;
  margin: 8px auto 0;
  padding: 0 20px;
}
.header__content > h1 {
  font-family: "Cinzel", serif;
  font-size: 26px;
  font-weight: 600;
}
.header__content > h1:hover {
  cursor: pointer;
  color: #e4cb86;
  transition: 0.2s;
}
.header__content-social {
  display: flex;
  font-size: 26px;
  gap: 20px;
}
.header__content-social > a:hover {
  cursor: pointer;
  color: #e4cb86;
  transition: 0.2s;
}
.header__content > button {
  display: none;
  background: none;
  border: none;
}
.header__content > button > img {
  height: 40px;
  width: 40px;
}

@media (max-width: 921px) {
  .header {
    height: 70px;
  }
  .header__content-social {
    display: none;
  }
  .header__content > button {
    display: block;
  }
  .header .navbar {
    display: none;
  }
}
.navbar > ul {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  font-family: inherit;
  font-size: 13px;
  font-weight: 600;
  gap: 40px;
  list-style: none;
}
.navbar > ul > li {
  text-transform: uppercase;
}
.navbar > ul > li:hover {
  cursor: pointer;
  color: #e4cb86;
  transition: 0.2s;
}

.mobileNav {
  display: none;
}
.mobileNav > ul {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  position: absolute;
  top: 78px;
  right: none;
  bottom: none;
  left: 0;
  font-family: inherit;
  font-size: 13px;
  font-weight: 600;
  min-width: 0;
  width: 100%;
  max-width: 100vw;
  padding: 0 20px;
  background-color: #000;
  list-style: none;
}
.mobileNav > ul > li {
  width: 100%;
  text-transform: uppercase;
}
.mobileNav > ul > li > a {
  width: 100%;
  display: block;
  height: 45px;
  align-items: center;
  line-height: 45px;
}
.mobileNav > ul > li > a:hover {
  cursor: pointer;
  color: #e4cb86;
  transition: 0.2s;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  min-width: 0;
  width: 100%;
  max-width: 100vw;
  margin: 96px 0 0;
  border-top: 2px solid rgba(228, 203, 134, 0.2);
  padding: 64px 20px;
}
.footer__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  width: 100%;
  max-width: 1024px;
}
.footer__content-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  min-width: 0;
  width: 100%;
  max-width: 220px;
  gap: 8px;
}
.footer__content-text > p > span {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #e4cb86;
}
.footer__content-text > a {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #e4cb86;
}
.footer__content > nav ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: 72px;
  gap: 8px;
  list-style: none;
}
.footer__content > nav ul > li {
  text-transform: uppercase;
}
.footer__content > nav ul > li:hover {
  cursor: pointer;
  color: #e4cb86;
  transition: 0.2s;
}
.footer__content-social {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 4px;
}
.footer__content-social > a {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #e4cb86;
}
.footer > p {
  padding-top: 32px;
  color: #e4cb86;
}

@media (max-width: 767px) {
  .footer__content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .footer nav {
    display: none;
  }
}
.home {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  min-width: 0;
  width: 100%;
  max-width: 1240px;
  height: 100%;
  margin: 12px auto 0;
  padding: 0 20px;
}

.homeBanner {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  height: 100vh;
  width: 100%;
}
.homeBanner__title {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 0 0 48px;
}
.homeBanner__title > h1 {
  font-family: "Cinzel", serif;
  font-size: 60px;
  font-weight: 400;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.homeBanner__title > a > p {
  font-family: inherit;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.homeBanner__title > a > p:hover {
  cursor: pointer;
  cursor: pointer;
  color: #e4cb86;
  transition: 0.2s;
}

@media (max-width: 767px) {
  .homeBanner {
    height: 612px;
  }
  .homeBanner__title {
    padding: 0 0 24px;
  }
}
.homeAbout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  min-width: 0;
  width: 100%;
  max-width: 1024px;
  padding: 96px 0 0;
  gap: 32px;
}
.homeAbout h2 {
  font-family: "Cinzel", serif;
  font-size: 40px;
  font-weight: 400;
  font-size: 32px;
  text-transform: capitalize;
}
.homeAbout__skills {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  min-width: 0;
  width: 100%;
  max-width: 480px;
  gap: 16px;
}
.homeAbout__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  min-width: 0;
  width: 100%;
  max-width: 480px;
  gap: 16px;
}
.homeAbout__text > span {
  margin-top: 28px;
}

@media (max-width: 767px) {
  .homeAbout {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
}
.homeProjects {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  min-width: 0;
  width: 100%;
  max-width: 1024px;
  margin: 96px 0 0;
  gap: 16px;
}
.homeProjects > h2 {
  font-family: "Cinzel", serif;
  font-size: 40px;
  font-weight: 400;
  min-width: 0;
  width: 100%;
  max-width: 480px;
  text-align: start;
  font-size: 32px;
  text-transform: capitalize;
}
.homeProjects__content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  min-width: 0;
  width: 100%;
  max-width: 1024px;
  gap: 32px;
}

@media (max-width: 767px) {
  .homeProjects {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
  .homeProjects > h3 {
    min-width: 0;
    width: 100%;
    max-width: 480px;
  }
  .homeProjects__content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    min-width: 0;
    width: 100%;
    max-width: 480px;
  }
}
.about {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  min-width: 0;
  width: 100%;
  max-width: 1240px;
  margin: 144px auto 0;
  padding: 0 20px;
}
.about > h2 {
  font-family: "Cinzel", serif;
  font-size: 60px;
  font-weight: 400;
  text-transform: capitalize;
}
.about h3 {
  font-family: "Cinzel", serif;
  font-size: 40px;
  font-weight: 400;
  text-transform: capitalize;
}
.about__professional {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  min-width: 0;
  width: 100%;
  max-width: 1024px;
  margin: 96px 0 0;
}
.about__professional > img {
  min-width: 0;
  width: 100%;
  max-width: 416px;
  min-height: 0;
  height: 100%;
  max-height: 416px;
  margin: auto 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 32px;
}
.about__professional-text {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  min-width: 0;
  width: 100%;
  max-width: 480px;
  gap: 12px;
}
.about__personal {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  min-width: 0;
  width: 100%;
  max-width: 560px;
  margin: 96px 0 0;
  padding: 0 80px 0 0;
  gap: 16px;
}
.about__skills {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  min-width: 0;
  width: 100%;
  max-width: 560px;
  margin: 96px 0 0;
  gap: 16px;
}

@media (max-width: 921px) {
  .about__professional {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin: 64px 0 0;
  }
  .about__professional > img {
    display: none;
    min-width: 0;
    width: 100%;
    max-width: 100%;
    min-height: 100%;
    height: 100%;
    max-height: 56.25vw;
  }
  .about__professional-text {
    min-width: 0;
    width: 100%;
    max-width: 560px;
    margin: 64px 0 0;
    padding: 0 80px 0 0;
  }
  .about__personal {
    margin: 64px 0 0;
  }
  .about__skills {
    margin: 64px 0 0;
  }
}
@media (max-width: 600px) {
  .about__professional-text {
    padding: 0;
  }
  .about__personal {
    padding: 0;
  }
}
.projects {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  min-width: 0;
  width: 100%;
  max-width: 1240px;
  margin: 144px auto 0;
  padding: 0 20px;
}
.projects > h2 {
  font-family: "Cinzel", serif;
  font-size: 60px;
  font-weight: 400;
  text-transform: capitalize;
  margin-bottom: 96px;
}
.projects__content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  min-width: 0;
  width: 100%;
  max-width: 1024px;
  gap: 64px;
}

@media (max-width: 921px) {
  .projects > h2 {
    margin: 0 0 64px;
  }
}
.projectItem {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  width: 100%;
  gap: 16px;
}
.projectItem__image {
  width: 384px;
  height: 216px;
  background-color: #e4cb86;
  color: #000;
  border-radius: 8px;
  border: 1px solid #e4cb86;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
.projectItem__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  height: 216px;
  width: 384px;
  padding-bottom: 16px;
}
.projectItem__text > div > h3 {
  font-family: "Cinzel", serif;
  font-size: 40px;
  font-weight: 400;
  color: #e4cb86;
  font-size: 32px;
  text-transform: capitalize;
  margin-bottom: 8px;
}
.projectItem__text > div > p {
  max-height: 76px;
  overflow: hidden;
}

@media (max-width: 767px) {
  .projectItem {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    min-width: 0;
    width: 100%;
    max-width: 480px;
  }
  .projectItem__image {
    width: 100%;
    height: 270px;
  }
  .projectItem__text {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100%;
    gap: 16px;
  }
}
.skills {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  width: 100%;
  max-width: 100%;
  gap: 12px;
  flex-wrap: wrap;
}
.skills img {
  width: 56px;
}

@media (max-width: 767px) {
  .skills {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    min-width: 0;
    width: 100%;
    max-width: 100%;
    flex-wrap: nowrap;
  }
  .skills img {
    min-width: 0;
    width: 100%;
    max-width: 56px;
  }
}
.moreButton {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  font-family: inherit;
  font-size: 13px;
  font-weight: 600;
  padding-bottom: 4px;
  border: none;
  border-bottom: 1px solid #e4cb86;
  gap: 16px;
  color: inherit;
  background: inherit;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.moreButton svg {
  height: 16px;
  width: -moz-min-content;
  width: min-content;
}
.moreButton svg path {
  stroke: #e2e2e2;
}
.moreButton:hover {
  cursor: pointer;
  color: #e4cb86;
  transition: 0.2s;
}
.moreButton:hover svg path {
  stroke: #e4cb86;
}

.active {
  display: block;
}/*# sourceMappingURL=index.css.map */