@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&display=swap");
:root {
  max-width: calc(100vw - 6px);
  max-width: calc(100vw - 6px);
  font-family: "Montserrat", sans-serif;
  background-color: #000;
  color: #e2e2e2;
}
:root::-webkit-scrollbar {
  width: 6px;
}
:root::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(226, 226, 226, 0.5);
}
:root::-webkit-scrollbar-track {
  background-color: #000;
}

::-moz-selection {
  background-color: #e4cb86;
  color: #000;
}

::selection {
  background-color: #e4cb86;
  color: #000;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 1200px;
  margin: 0.5rem calc((100vw - 6px - 1200px) / 2) 0;
  z-index: 100;
}
.header__logo {
  font-family: "Cinzel", serif;
  font-size: 21px;
  font-weight: 600;
}
.header__logo:hover {
  cursor: pointer;
  color: #e4cb86;
  transition: 0.2s;
}
.header__nav {
  display: flex;
}
.header__nav-list {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  height: 4.5rem;
  gap: 2.5rem;
  font-size: 13px;
  font-weight: 600;
  list-style: none;
}
.header__nav-list > li {
  text-transform: uppercase;
}
.header__nav-list > li:hover {
  cursor: pointer;
  color: #e4cb86;
  transition: 0.2s;
}
.header__socials {
  display: flex;
  font-size: 21px;
  gap: 2rem;
}
.header__socials a:hover {
  cursor: pointer;
  color: #e4cb86;
  transition: 0.2s;
}

.project__item {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  width: 1200px;
  gap: 1rem;
}
.project__item img {
  width: 24rem;
  max-width: 24rem;
  height: 13.5rem;
  max-height: 13.5rem;
  background-color: #e4cb86;
  color: #000;
  border-radius: 0.5rem;
}
.project__item-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  height: 13.5rem;
  max-width: 24rem;
  min-width: 24rem;
  padding-bottom: 1rem;
}
.project__item-text h3 {
  font-family: "Cinzel", serif;
  font-size: 40px;
  font-weight: 400;
  text-transform: capitalize;
  margin-bottom: 0.5rem;
}
.project__item-text p {
  line-height: 1.5rem;
  max-height: 4.75rem;
  overflow: hidden;
}
.project__item-text-more {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  width: -moz-max-content;
  width: max-content;
  padding-bottom: 0.25rem;
  border-bottom: 1px solid #e4cb86;
  gap: 1rem;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.project__item-text-more svg {
  height: 1rem;
  width: -moz-min-content;
  width: min-content;
}
.project__item-text-more svg path {
  stroke: #e2e2e2;
}
.project__item-text-more:hover {
  cursor: pointer;
  color: #e4cb86;
  transition: 0.2s;
}
.project__item-text-more:hover svg path {
  stroke: #e4cb86;
}

.skills {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.skills img {
  width: 3.5rem;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  z-index: 1;
  height: 100%;
  width: calc(100vw - 6px);
  max-width: calc(100vw - 6px);
}
.home__banner {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  height: 100vh;
  width: 1200px;
}
.home__banner-title {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 0 0 3.25rem;
}
.home__banner-title h1 {
  font-family: "Cinzel", serif;
  font-size: 80px;
  font-weight: 400;
  margin-bottom: 1.25rem;
}
.home__banner-title p {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
}
.home__banner-title p:hover {
  cursor: pointer;
  color: #e4cb86;
  transition: 0.2s;
}
.home__about {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  width: 1200px;
  margin: 9rem 0 0;
}
.home__projects {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  width: 1200px;
  margin: 9rem 0 0;
}
.home__contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  width: 1200px;
  margin: 9rem 0 0;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: calc(100vw - 6px);
  max-width: calc(100vw - 6px);
  padding: 9rem 0 0;
}
.about h3 {
  font-family: "Cinzel", serif;
  font-size: 40px;
  font-weight: 400;
  text-transform: capitalize;
}
.about__title {
  font-family: "Cinzel", serif;
  font-size: 80px;
  font-weight: 400;
  text-transform: capitalize;
}
.about__personal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  width: 1200px;
  margin: 9rem auto 0;
}
.about__personal img {
  width: 35rem;
  max-width: 35rem;
  min-height: 419px;
  background-color: #e4cb86;
  color: #000;
  border-radius: 0.5rem;
}
.about__personal-text {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  max-width: 35rem;
  min-width: 35rem;
  gap: 0.75rem;
}
.about__biography {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  margin: 9rem 0 0;
  max-width: 40rem;
  padding: 0 5rem 0 0;
  gap: 1rem;
}
.about__skills {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  margin: 9rem 0 0;
  width: 40rem;
  max-width: 40rem;
  gap: 1rem;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: calc(100vw - 6px);
  max-width: calc(100vw - 6px);
  padding: 9rem 0 0;
}
.projects__title {
  font-family: "Cinzel", serif;
  font-size: 80px;
  font-weight: 400;
  text-transform: capitalize;
  margin-bottom: 9rem;
}
.projects__content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 4rem;
}/*# sourceMappingURL=index.css.map */