@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&display=swap");
@import "../utils/functions";
@import "../utils/variables";

:root {
  width: 100vw;
  min-width: 100vw;
  font-family: $primary-font;
  background-color: $background-color;
  color: $text-color;

  &::-webkit-scrollbar {
    width: 6px;
    display: none;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba($color: $text-color, $alpha: 0.5);
  }

  &::-webkit-scrollbar-track {
    background-color: $background-color;
  }
}

::selection {
  background-color: $primary-color;
  color: $background-color;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

// Header
@import "../components/Header";
@import "../components/Nav";
// Footer
@import "../components/Footer";
//Home
@import "../pages/Home";
@import "../components/HomeBanner";
@import "../components/HomeAbout";
@import "../components/HomeProjects";
//About
@import "../pages/About";
// Projects
@import "../pages/Projects";
//Components
@import "../components/ProjectItem";
@import "../components/SkillsSVG";
@import "../components/MoreButton";
