.home {
  @include flex(column, start, center);
  z-index: 1;
  height: 100%;
  width: $max-width;
  max-width: $max-width;

  &__banner {
    @include flex(column, end, center);
    height: 100vh;
    width: 1280px;

    &-title {
      @include flex(column, start, center);
      padding: 0 0 3.25rem;

      h1 {
        font-family: $secondary-font;
        font-size: 80px;
        margin-bottom: 1.25rem;
      }

      p {
        font-size: $min-font-size;
        font-weight: 600;
        letter-spacing: 2px;
      }
    }
  }

  &__about {
    @include flex(row, center, start);
    width: 1280px;
    padding: 9rem 0;
  }
}
